@import url("./styles.css");

.page-header {
  background-color: var(--Background);
  display: flex;
  justify-content: space-between;
}

.page-header .submenu {
  display: flex;
}

.page-header .submenu .header-btn {
  margin: 0 1em;
}

.page-header .submenu .header-btn:last-child {
  margin: 0 0 0 1em;
}

.header-btn {
  background-color: var(--Current-Line);
  color: var(--Purple);
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, text-decoration 0.5s;
}

.header-btn:hover {
  background-color: var(--Comment);
  color: var(--Pink);
  text-decoration: underline;
}
