<hr />

<footer class="page-footer">
  <p class="self-credit">
    Criado com ❤️ por
    <a href="https://github.com/ryuvi" target="_blank">Vicente Nogueira</a>
  </p>
  <p class="dracula-credit">
    Paleta de cores de
    <a href="https://draculatheme.com" target="_blank">Dracula Theme</a>
  </p>
</footer>
