<header class="page-header">
  <a href="<%= site.basePath %>/" class="header-btn">RYUVI</a>
  <div class="submenu">
    <a href="<%= site.basePath %>/poemas" class="header-btn">POEMAS</a>
    <a href="<%= site.basePath %>/contos" class="header-btn">CONTOS</a>
    <a href="https://github.com/ryuvi" class="header-btn">GitHub</a>
  </div>
</header>

<hr />
